<section id="viewRegister">
    <h2>Create your account:</h2>
    {{#if error}}
        {{> notification}}
    {{/if}}
    <form id="formRegister" action="/register" method="POST" >
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required="true">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your Username" required="true">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required="true">
        <label for="rePassword">Repeat Password:</label>
        <input type="password" id="rePassword" name="rePassword" placeholder="Repeat Password">
        <input type="submit" class="register" value="Register" required="true">
    </form>
</section>